<!DOCTYPE html>
<html>
  <head>
    <title>Rainham Flower Club</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'normalize', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav><a href="/">Rainham Flower Club</a></nav>
    <div id="main" class="container-fluid">
      <div class="row">
        <div id="content" class="col-md-8">
          <%= yield %>
        </div>
      </div>
    </div>

    <footer>
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-md-6 justify-content-center">
            <h4>Find us...</h4>
             <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d318967.34119018895!2d0.30526013464709295!3d51.34915453008262!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8d2b5903cea09%3A0x2044a1aa15e5cf99!2sSt+Matthews+Church!5e0!3m2!1sen!2suk!4v1521367543508" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          <p>Copyright Rainham Flower Club <%= Time.new.year %></p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
